:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background: #2f303a;
  --background-team: #f5f4fa;
  --address-link: rgba(255, 255, 255, 0.6);
  --border: #ececec;
  --logo: #afb1b8;
  --bg-link-footer: rgba(255, 255, 255, 0.1);
  --project-border: #eeeeee;
  --bg-hero-gradient: rgba(47, 48, 58, 0.4);
  --overlay: rgba(33, 150, 243, 0.9);
  --bg-activity: rgba(47, 48, 58, 0.8);
  --border-input: rgba(33, 33, 33, 0.2);
  --form-comment: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid orange; */
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav .list {
  margin-left: 93px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--title-text-color);
}

.logo-blue {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.site-nav .link {
  display: inline-block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  color: var(--title-text-color);
}

.header {
  border-bottom: 1px solid var(--border);
}

.header .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.contacts-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  color: var(--primary-text-color);
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .item + .item {
  margin-left: 50px;
}

.header-logo {
  vertical-align: middle;

  margin-right: 10px;

  fill: currentColor;
}

.hero {
  text-align: center;

  padding-top: 200px;
  margin: 0 auto;
  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(
      var(--bg-hero-gradient),
      var(--bg-hero-gradient)
    ),
    url(../images/hero.jpg);
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;

  color: var(--white-color);
}

.button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;

  min-width: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  text-decoration: none;

  color: var(--white-color);
  background-color: var(--accent-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  border-radius: 4px;

  background: var(--background-team);
}

.features-logo {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features .text {
  margin-top: 0;
  margin-bottom: 0;

  min-width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-list .item {
  width: 270px;
}

.activity {
  padding-bottom: 94px;
}

.activity-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.activity-list {
  display: flex;
}

.activity-item {
  margin-right: 30px;
}

.activity-item:nth-child(3n) {
  margin-right: 0px;
}

.activity-info {
  position: relative;
}

.activity-info::before {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 70px;

  background: var(--bg-activity);
}

.activity-text {
  position: absolute;
  display: block;
  margin: 0;
  bottom: 0;
  left: 0;

  padding: 27px 82px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.team-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.team-member {
  padding: 0 auto;
  margin: 0;
  margin-bottom: 10px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.team-position {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.19;
}

.team-item {
  text-align: center;

  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: var(--white-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--background-team);
}

.social-list {
  display: flex;
  margin: 0 auto;

  width: 206px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--logo);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-logo {
  width: 20px;
  height: 20px;

  fill: currentColor;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--logo);
  outline: none;
  border-radius: 4px;

  color: var(--logo);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  font-style: normal;

  background-color: var(--background);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  text-decoration: none;

  color: var(--white-color);
}

.address {
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;

  color: var(--white-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-address .link {
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;

  color: var(--address-link);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item {
  margin-top: 9px;
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--accent-color);
}

.site-nav .active {
  position: relative;

  color: var(--accent-color);
}

.active::after {
  position: absolute;
  display: block;
  bottom: 0;

  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: var(--accent-color);
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.subscribe-list {
  display: flex;
}

.subscribe-item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-link:hover,
.subscribe-link:focus {
  background-color: var(--accent-color);
}

.subscribe-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--white-color);
  background: var(--bg-link-footer);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-logo {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.container-subscribe {
  margin-right: 93px;
}

.container-address {
  margin-right: 70px;
}

.appeal-title {
  display: block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.appeal-box {
  display: flex;
}

.appeal-form {
  margin-right: 12px;
}

.appeal-form input {
  padding: 15px 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: var(--background);
  color: var(--white-color);
}

.appeal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--white-color);
  background: var(--accent-color);
}

.appeal-button:hover,
.appeal-button:focus {
  cursor: pointer;
}

.appeal-icon {
  margin-left: 10px;

  fill: var(--white-color);
}

/*portfolio page */

.buttons {
  display: inline-block;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--title-text-color);
  background-color: var(--background-team);

  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.buttons:hover,
.buttons:focus {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-content {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: hidden;
  box-sizing: border-box;
  border: 1px solid var(--project-border);

  background: var(--white-color);
}
.projects-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--title-text-color);
}

.project-link {
  position: relative;
  display: block;
  overflow: hidden;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
}

.product-thumb::before {
  position: absolute;
  display: block;

  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);

  background: var(--overlay);

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:focus .product-thumb::before,
.project-link:focus .product-text,
.project-link:hover .product-thumb::before,
.project-link:hover .product-text {
  opacity: 1;
  transform: translateY(0);
}

.product-actions {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
}

.product-text {
  margin: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  opacity: 0;

  transform: translateY(100%);

  color: var(--white-color);

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a {
  text-decoration: none;
}

.projects-text {
  margin: 0;
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background: var(--white-color);
}

.modal-logo {
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-logo:hover,
.modal-logo:focus,
.modal-button:hover,
.modal-button:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: var(--white-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  padding: 40px;
  box-sizing: border-box;
}

.form-title {
  text-align: center;
  margin-bottom: 12px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-icon:hover,
.form-textarea:focus,
.form-input:focus {
  cursor: pointer;
}

.row-name {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.row-name:not(:last-child) {
  margin-bottom: 4px;
}

.form-logo {
  position: absolute;
  display: inline-block;
  left: 15px;
  bottom: 11px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  padding: 11px 40px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid var(--border-input);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-logo {
  fill: var(--accent-color);
}

.form-input:focus {
  outline: 0;
  outline-offset: 0;

  border-radius: 4px;
  border: 1px solid var(--accent-color);
}

.form-comment {
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--form-comment);
}

.form-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: inherit;

  border-radius: 4px;
  border: 1px solid var(--border-input);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  outline: 0;
  outline-offset: 0;

  border-radius: 4px;
  border: 1px solid var(--accent-color);
}

.form-policy {
  display: block;
  text-align: center;
}

.policy-row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-icon:before {
  content: '';
  display: block;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox:focus + .form-icon:before {
  border: 2px solid var(--accent-color);
}

.checkbox:checked + .form-icon:before {
  background: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border: var(--accent-color);
}

.policy-link {
  color: var(--accent-color);
}

.form-button {
  padding: 10px 55px;
  margin-top: 30px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white-color);
  background: var(--accent-color);
}

.form-button:hover,
.form-button:focus {
  cursor: pointer;
}
